        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js')}}"></script>
        <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static', filename='assets/js/detect.js')}}"></script>
        <script src="{{ url_for('static', filename='assets/js/fastclick.js')}}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js')}}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.blockUI.js')}}"></script>
        <script src="{{ url_for('static', filename='assets/js/waves.js')}}"></script>
        <script src="{{ url_for('static', filename='assets/js/wow.min.js')}}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.nicescroll.js')}}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.scrollTo.min.js')}}"></script>
        <!-- jQuery  -->

		<!-- Sweet-alert  -->
        <script src="{{ url_for('static', filename='assets/plugins/bootstrap-sweetalert/sweet-alert.min.js')}}"></script>

        <!-- Todojs  -->
        <script src="{{ url_for('static', filename='assets/pages/jquery.todo.js')}}"></script>
		
		<!-- Modal-Effect -->
        <script src="{{ url_for('static', filename='assets/plugins/custombox/js/custombox.min.js')}}"></script>
        <script src="{{ url_for('static', filename='assets/plugins/custombox/js/legacy.min.js')}}"></script>
		
		<!-- Bootstrap-Data-Picker -->
		
		<script src="{{ url_for('static', filename='assets/plugins/moment/moment.js')}}"></script>
     	<script src="{{ url_for('static', filename='assets/plugins/timepicker/bootstrap-timepicker.js')}}"></script>
     	<script src="{{ url_for('static', filename='assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js')}}"></script>
     	<script src="{{ url_for('static', filename='assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>
     	<script src="{{ url_for('static', filename='assets/plugins/clockpicker/js/bootstrap-clockpicker.min.js')}}"></script>
     	<script src="{{ url_for('static', filename='assets/plugins/bootstrap-daterangepicker/daterangepicker.js')}}"></script>
		
		
		<script src="{{ url_for('static', filename='assets/pages/jquery.form-pickers.init.js')}}"></script>
		
		
		<script src="{{ url_for('static', filename='assets/js/jquery.core.js')}}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.app.js')}}"></script>